S3_BUCKET_NAME="your-website-bucket-name"
S3_PHOTO_BUCKET="your-photo-bucket-name"
LAMBDA_FUNCTION_NAME="your-lambda-function-arn"
AWS_REGION="your-aws-region"
AWS_PROFILE="your-aws-cli-profile-name"
LOCAL_PHOTOS_DIRECTORY="your-local-photos-directory"
API_GATEWAY_URL='url-for-api-gateway'